/SoulAirMapaRA/[Bb]uild/
/SoulAirMapaRA/[Bb]uilds/
/SoulAirMapaRA/[Ll]ibrary
/SoulAirMapaRA/[Ll]ogs/
/SoulAirMapaRA/[Oo]bj/
/SoulAirMapaRA/[Tt]emp/


/SoulAirMapaRA/.vscode
/SoulAirMapaRA/.vsconfig
/SoulAirMapaRA/.vs
/SoulAirMapaRA/Assembly-CSharp.csproj
/SoulAirMapaRA/CW.Common.csproj
/SoulAirMapaRA/LeanCommon.csproj
/SoulAirMapaRA/LeanTouch.csproj
/SoulAirMapaRA/SoulAirMapaRA.csproj
/SoulAirMapaRA/Unity.XR.Interaction.Toolkit.Samples.DeviceSimulator.csproj
/SoulAirMapaRA/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj
/SoulAirMapaRA/Unity.XR.Interaction.Toolkit.Samples.StarterAssets.Editor.csproj
/SoulAirMapaRA/SoulAirMapaRA.sln

